@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

html,
body {
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
i{
  display: inline-block;
  transform: translateY(0.15em);
  margin-right: 0.3em;
  color: inherit;
}
* {
  padding: 0;
  margin: 0;
  color: darkslategrey;
  box-sizing: border-box;
  transition: all 0.3s;
}
:root {
  --main-color: process.env.PRIMARY_COLOR;
  --secondary-color: process.env.SECONDARY_COLOR;
}
a {
  color: inherit;
  text-decoration: none;
}
form>.section{
    display: flex;
    margin-bottom: 1em;
    flex-direction: column;
}
.section>input{
    font-size: 1em;
    background: rgb(250,250,250);
    padding: 0.7em 0.9em;
    margin-top: 0.3em;
    font-family: inherit;
    border: 1px solid #ddd;
    border-radius: 0.3em;
}
/* custom styling datatable payload */
#payloadtable_wrapper, #historytable_wrapper, #cyclebydate_wrapper, #cyclehourcycle, #cyclehourcycle2, #cyclehourvolume, #cyclehourvolume2, #cyclehourcount, #cyclehourcount2{
  border-collapse: collapse;
  padding: 1em 0 2em 0;
}
.tabelprod{
  width: 100%;
}
#cyclehourcycle2_filter, #cyclehourcycle_filter, #cyclehourvolume_filter, #cyclehourvolume2_filter, #cyclehourcount_filter, #cyclehourcount2_filter{
  padding-bottom: 1.5em;
}
.dataTables_wrapper .dataTables_length select, .dataTables_wrapper .dataTables_filter input{
  padding: 0.7em 1em !important;
  border-radius: 0.5em !important;
  margin: 0 0.5em !important;
  border: 1px solid #ddd !important;
}
#payloadtable, #historytable, #cyclebydate{
  border-collapse: collapse;
  display: block;
  margin: 1em 0 2em 0;
  padding-top: 1.5em !important;
}
.tabelprod>thead>tr>th{
  background: rgb(245,245,245);
}
.tabelprod>thead>tr>th, .tabelprod>tbody>tr>td{
  padding: 0.8em 1em !important;
  white-space: nowrap;
  text-align: center !important;
}
.tabelprod>tbody>tr:hover{
  cursor: pointer !important;
  background: rgb(250,250,250) !important;
}
.tabelprod>tbody>tr>td{
  border-bottom: 1px solid rgb(240,240,240);
}
.buttons-csv, .buttons-collection{
  padding: 0.6em 1em;
  margin: 0 0.5em !important;
  background: dodgerblue;
  border: none;
  border-radius: 0.3em;
}
.buttons-csv{
  margin-left: 2em !important;
}
@media screen and (max-width: 480px){
  body{
    font-size: 12px
  }
  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter{
    display: inline-block;
  }
  
  .dataTables_wrapper .dataTables_length select, .dataTables_wrapper .dataTables_filter input{
    padding: 0.5em !important;
    margin-top: 0.8em;
  }
  .dataTables_filter{
    width: 100%;
  }
  .dt-buttons{
    position: absolute !important;
    right: 0 !important;
    top: 0;
    margin-top: 1em;
  }
  .dataTables_filter>label{
    width: 100%;
    display: flex;
    align-items: center;
  }
  .dataTables_filter>label>input{
    flex: 1;
  }
  #cyclehourcycle_wrapper>.dt-buttons, #cyclehourcycle2_wrapper>.dt-buttons{
    top: -1em !important;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
