@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

html,
body {
  scroll-behavior: smooth;
  font-family: "Poppins";
  font-size: 14px;
}
i{
  display: inline-block;
  transform: translateY(0.15em);
  margin-right: 0.3em;
  color: inherit;
}
* {
  padding: 0;
  margin: 0;
  color: darkslategrey;
  box-sizing: border-box;
  transition: all 0.3s;
}
:root {
  --main-color: process.env.PRIMARY_COLOR;
  --secondary-color: process.env.SECONDARY_COLOR;
}
@font-face {
  font-family: "Poppins";
  src: url('../public/fonts/Poppins-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: "Poppins-Light";
  src: url('../public/fonts/Poppins-Light.ttf');
  font-weight: normal;
}
@font-face {
  font-family: "Poppins-Bold";
  src: url('../public/fonts/Poppins-Bold.ttf');
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}
form>.section{
    display: flex;
    margin-bottom: 1em;
    flex-direction: column;
}
.section>input{
    font-size: 1em;
    background: rgb(250,250,250);
    padding: 0.7em 0.9em;
    margin-top: 0.3em;
    font-family: inherit;
    border: 1px solid #ddd;
    border-radius: 0.3em;
}
/* custom styling datatable payload */
#payloadtable_wrapper{
  padding: 1em 0 2em 0;
}
.dataTables_wrapper .dataTables_length select, .dataTables_wrapper .dataTables_filter input{
  padding: 0.7em 1em !important;
  border-radius: 0.5em !important;
  margin: 0 0.5em !important;
  border: 1px solid #ddd !important;
}
#payloadtable{
  padding-top: 1.5em !important;
}
table{
    border-collapse: collapse;
    margin: 1em 0 2em 0;
}
table>thead>tr>th{
  background: rgb(245,245,245);
}
table>thead>tr>th, table>tbody>tr>td{
  padding: 0.8em 1em;
  text-align: center !important;
}
table>tbody>tr:hover{
  cursor: pointer !important;
  background: rgb(250,250,250) !important;
}
table>tbody>tr>td{
  border-bottom: 1px solid rgb(240,240,240);
}
.buttons-csv, .buttons-collection{
  padding: 0.6em 1em;
  margin: 0 0.5em !important;
  background: dodgerblue;
  border: none;
  border-radius: 0.3em;
}
.buttons-csv{
  margin-left: 2em !important;
}
@media screen and (max-width: 480px){
  body{
    font-size: 12px
  }
  .dataTables_wrapper, .dataTables_length, .dataTables_wrapper, .dataTables_filter{
    float: inline-end;
  }
  .dataTables_wrapper .dataTables_length select, .dataTables_wrapper .dataTables_filter input{
    padding: 0.5em !important;
    margin-top: 0.8em;
  }
  .dataTables_filter{
    width: 100%;
  }
  .dataTables_filter>label{
    width: 100%;
    display: flex;
    align-items: center;
  }
  .dataTables_filter>label>input{
    flex: 1;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
