.navbar{
    box-shadow: 0 1px 2px 0 rgb(240,240,240);
    margin-bottom: 1em;
}
.mini{
    background: rgb(245,245,245);
    padding: 0.3em 2em; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mini>p{
    flex: 1;
    font-size: 0.9em;
}
.mini>p:nth-child(2){
    text-align: center
}
.mini>p:nth-child(3){
    text-align: right
}
.nav{
    padding: 0.5em 2em;
    display: flex;
    align-items: center;
}
.logoutbtn{
    margin-left: 24px;
    cursor: pointer;
}
.centermenu{
    display: flex;
    gap: 24px;
    justify-content: center;
    flex: 1;
}
.mainmenu{
    cursor: pointer;
    font-weight: 600;
    color: rgb(180,180,180);
    padding: 12px;
}
.mainmenu:hover{
    color: cornflowerblue;
}
.mainmenu:hover .submenu{
    opacity: 1;
    z-index: 1;
    transform: translateY(16px);
}
.submenu{
    color: rgb(180,180,180);
    font-weight: 400;
    border-radius: 4px;
    opacity: 0;
    z-index: -1;
    position: absolute;
    border: 1px solid rgb(240,240,240);
    padding: 8px 16px;
    transform: translateY(10px);
    background: white;
    box-shadow: 0 0 5px 0 rgb(240,240,240);
    display: flex;
    gap: 24px;
}
.submenu>a:hover{
    color: cornflowerblue;
}
.inputsrcmenu{
    padding: 8px;
    outline: 1px solid #ddd;
    border: none;
    border-radius: 4px;
    padding-left: 32px;
    margin-right: 8px;
    width: 150px
}
.inputsrcmenu:focus{
    outline: 2px solid cornflowerblue;
}
.rightmenu>i{
    position: absolute;
    transform: translate(10px, 8px);
    color: #ddd;
    font-weight: 600;
}
@media screen and (max-width: 480px){
    .mini>p{
        display: none;
    }
    .mini>p:nth-child(2){
        display: flex;
        justify-content: center;
    }
    .centermenu{
        display: none;
    }
    .nav{
        justify-content: space-between;
        padding: 0.5em 0.8em;
    }
    .nav>img{
        margin-right: 0;
    }
}