.content{
    padding: 0 2em;
}
.outerpayload{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    height: 100%;
    width: 100%;
}
.activenav{
    padding: 0.3em;
    background: rgb(250,250,250);
    border-radius: 2em;
    outline: 1px solid rgb(230,230,230);
    display: flex;
    gap: 3em;
}
.activenav>div{
    display: flex;
    gap: 0.5em
}
.activenav>div>a{
    padding: 0.7em 2em;
    border-radius: 2em;
    display: inline-block;
}
.activenav>div>a>i{
    transition: none;
}
.activenav>div>a:hover{
    background: rgb(230,230,230);
    cursor: pointer;
}
.activenav>div>.active, .activenav>div>.active:hover{
    background: dodgerblue;
    color: white;
}
.activenav>div>a:nth-child(2)>i{
    margin-right: 0.6em
}
.filter{
    cursor: pointer;
    position: absolute;
    right: 4em;
    transform: translateY(-2.5em)
}
.tablebox{
    overflow: auto;
    margin: 1em;
}
.contentlatest{
    display: none
}
.filterbox{
    position: absolute;
    right: 4em;
    margin-top: 0.5em;
    border-radius: 0.5em;
    padding: 1em 2em;
    opacity: 0;
    transform: translateY(-1em);
    background: white;
    border: 1px solid rgb(240,240,240);
    box-shadow: 2px 2px 7px 0 rgb(240,240,240);
    z-index: -1;
}
.activefilter{
    z-index: 10;
    opacity: 1;
    transform: translateY(0);
}
.form{
    display: flex;
    align-items: flex-end;
    gap: 2em;
}
.form>div>button>i{
    font-weight: bolder
}
.form>div>button{
    background: cornflowerblue;
    color: white;
    border: 1px solid cornflowerblue;
    padding: 0.9em 1em;
    border-radius: 0.5em;
    cursor: pointer;
}
.section{
    display: flex;
    flex-direction: column;
}
.closebtn{
    cursor: pointer;
    color: #ddd;
    margin-left: 2em;
    transform: translate(1em, -0.5em)
}
.form>div>button>i{
    margin-right: 0;
}
.cyclebox>h3{
    margin: 2em 0em 0em 0em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    background: cornflowerblue;
    color: white;
    border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 480px){
    .tablebox{
        margin: 1em 0;
    }
    .filterbox{
        right: 2em;
        font-size: 0.8em;
        padding: 0.8em 1.5em;
    }
    .form>div>button{
        padding: 0.5em 0.7em;
    }
    .activenav{
        flex-direction: column;
        gap: 1em;
        border-radius: 1.5em;
    }
}
